{% extends 'base.html.twig' %}

{% block title %}Edit Tutoring Unit{% endblock %}

{% block body %}
    <h1>Edit TutUnit</h1>

    <div class="container">
    {{ include('tut_unit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tut_unit_index') }}">back to list</a>

    {{ include('tut_unit/_delete_form.html.twig') }}
    </div>
{% endblock %}
