{% extends 'base.html.twig' %}

{% block title %}Edit Unique Content{% endblock %}

{% block body %}

<div class="container mt-3 mb-3">
    <h3>Edit UniqueContent</h3>
</div>

    <div class="container">
    {{ include('unique_content/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary mt-2 mb-2" role="button" href="{{ path('app_unique_content_index') }}">Back to the list</a>

    {{ include('unique_content/_delete_form.html.twig') }}
    </div>
{% endblock %}
