{% extends 'base.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}

<div class="container mt-3 mb-3">
    <h3>Edit Content</h3>
</div>

    <div class="container">
        <div class="card border border-0" style="width: 600px;">
    {{ include('unique_content/_form.html.twig', {'button_label': 'Update'}) }}
   
    {{ include('unique_content/_delete_form.html.twig') }}
</div>
<a class="btn btn-outline-secondary mt-2 mb-2" role="button" href="{{ path('app_unique_content_index') }}">Back to the list</a>

    </div>
{% endblock %}
