{% extends 'base.html.twig' %}

{% block title %}Edit University{% endblock %}

{% block body %}
<h1 style="margin:20px;">Edit University</h1>

<div class="container">
    <div class="mb-2">{{ include('university/_form.html.twig', {'button_label': 'Update'}) }}</div>
    <div>{{ include('university/_delete_form.html.twig') }}</div>
    <div><a class="btn btn-outline-dark mt-2" role="button" href="{{ path('app_university_index') }}">Back to list</a></div>
</div>
{% endblock %}
