{% extends 'base.html.twig' %}

{% block title %}Edit University{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
    <h1>Edit University</h1>
</div>

<div class="container">

    
    <div class="mb-2">{{ include('university/_form.html.twig', {'button_label': 'Update'}) }}</div>
    <div>{{ include('university/_delete_form.html.twig') }}</div>
        <a class="btn btn-secondary mt-2" role="button" href="{{ path('app_university_index') }}">Back to list</a>
</div>
{% endblock %}
