{% extends 'base.html.twig' %}

{% block title %}University{% endblock %}

{% block body %}
<div class="container" >
<h1>Create new University</h1>
</div>

<div class="container">
    <div class="card border border-0" style="width: 400px;">
    {{ include('university/_form.html.twig') }}
</div>
<a class="card-link btn mt-2" role="button" style="background-color: rgb(163, 193, 201);" href="{{ path('app_university_index') }}">Back to list</a>
</div>

{% endblock %}
