<nav class="navbar navbar-expand-lg bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Page Name</a>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-light me-md-2" type="button" href="#">Login</button>
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
              Register
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Student</a></li>
              <li><a class="dropdown-item" href="#">Tutor</a></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>