<nav class="main-header navbar navbar-expand-lg bg-light p-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-3" href="/tutoring">
        <img style="margin-right: 30px" src="https://cdn-icons-png.flaticon.com/512/201/201608.png" alt="Bootstrap" width="70" height="70">Studo</a>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">

        {% if app.user %}
          <a href="{{ path('app_university_index') }}"<button class="btn btn-outline-secondary me-md-2" type="button">Universities</button></a>
          <a href="{{ path('app_logout') }}"<button class="btn btn-outline-secondary me-md-2" type="button">Logout {{ app.user.userIdentifier }}</button></a>
        {% else %}
          <a href="/login"><button class="btn btn-outline-secondary me-md-2" type="button">Login</button></a>
          <div class="dropdown">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
              Register
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/register/student">Student</a></li>
              <li><a class="dropdown-item" href="/register/tutor">Tutor</a></li>
            </ul>
          </div>
        {% endif %}


      </div>
    </div>
  </nav>
